@import "../../../assets/styles/project-style";

.register-dialog {
  width: 30vw;
}

.add-button-style {
  cursor: pointer;
  margin-top: 14px;
  width: 35px;
  height: 35px;
  background-color: $primary-color;
  color: white;
  border-radius: 100%;
}

input {
  width: 100%;
}
